<h2 class="order-header">New Order</h2>

<p class="info-text">Add the restaurant name and order fee then use the '+' buttons to add coordinates when you are at the correct locations. None of the form fields are mandatory. The distances between locations will be calculated automatically (Haversine method) when saved.</p>

<%= render 'form' %>