<h2 class="order-header">New Order</h2>

<p class="order-header-text">Use the '+' button to add coordinates when you are at the correct location. Add the order fee and hit 'create' to save.</p>

<%= render 'form' %>