/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
 	box-sizing: border-box;
 }

 $btn: #84FF6B;
 $clear-all-btn: #FF5854;
 $clear-btn: #7790C8;

.wrapper {
	margin: 15px;
}

.order-info {
	width: 20%;
}

// FORM

.form-instructions  {
	display: inline-block;
}

.coords-box {
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 1px 2px 31px -8px rgba(0,0,0,0.75);
	margin-bottom: 10px;
	padding: 5px;
}

// BUTTONS

.button {
	text-align: center;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 3px;
	padding: 5px 8px;
	background-color: $btn;
}

.clear-button {
	text-align: center;
	background-color: $clear-btn;
}

.clear-all-button {
	background-color: $clear-all-btn;
}

.add-button {
	display: inline-block;
	text-align: center;
	width: 25px;
	height: 25px;
	margin-left: 8px;
	border: 1px solid black;
	background-color: #eee;
	color: black;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
}