/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $btn: #84FF6B;
 $clear-all-btn: #FF5854;
 $clear-btn: #7790C8;

 * {
 	box-sizing: border-box;
 }

 .page-wrapper {
 	margin: 8px;
 }

 a {
 	font-size: 11px;
 	margin-left: 3px;
 }

// FONTS

 body {
 	font-family: 'Noto Sans TC', sans-serif;
 }

 .navbar, h1, h2 {
 	font-family: 'Allerta Stencil', sans-serif;
 }

 // NAVBAR

 .navbar {
 	border-bottom: 3px solid red;
 }

// INDEX

.info-text {
	font-size: 1.2rem;
	line-height: 1.8;
	margin-bottom: 10px;
}

.order-info {
	display: inline-block;
	width: 19%;
	font-size: 12px;
}

.order-info-header {
	font-weight: 700;
}

.order-box {
	border: 1px solid #aaa;
	border-radius: 5px;
	margin: 2px;
	padding: 2px;
}

// FORM

.form-instructions  {
	display: inline-block;
}

.coords-box {
	border: 1px solid #222;
	border-radius: 5px;
	box-shadow: 1px 2px 31px -8px rgba(0,0,0,0.75);
	margin-bottom: 6px;
	padding: 5px;
}

.order-header, .order-header-text {
	margin: 10px;
}

// BUTTONS

.button {
	text-align: center;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 3px;
	padding: 5px 8px;
	background-color: #ccc;
}

.link-button {
	background-color: #eee;
	color: black;
	padding: 8px;
	margin: 10px 0;

}

.clear-button {
	margin-top: 5px;
	text-align: center;
	font-size: 1rem;
}

.clear-all-button {
	margin-bottom: 10px;
}

.add-button {
	display: inline-block;
	text-align: center;
	width: 25px;
	height: 25px;
	margin-left: 8px;
	border: 1px solid black;
	font-size: 17px;
	font-weight: 900;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 2px 2px 4px 1px gray;
	background-color: #ccc;
}

.save-button {
	border-color: black;
	margin-bottom: 25px;
}

// MEDIA QUERIES

@media only screen and (min-width: 600px) {
	.page-wrapper {
		margin: 0 25%;
	}
}